.label {
  @apply relative font-bold w-full;
}

.input {
  @apply appearance-none rounded-lg text-blue-secondary py-3 px-4 w-full;
  @apply focus:outline-none focus:ring-2 focus:ring-blue-secondary focus:border-blue-secondary;
}

.eye {
  @apply h-6 w-6 absolute;

  transform: translate(-50%, -50%);
  right: 0;
  top: 70%;
}

.eyeError {
  top: 56%;
}
